.stock-description {
    float: left;
    width: 50%;
    color: #486581;
    font-size: 18px;
    line-height: 1.5;
}

.details {
    width: 50%;
    float: left;
}

.descriptionAndDetails {
    overflow: hidden;
    padding-top: 16px;
}

.aboutContainer {
    padding: 54px 0;
    width: 75%;
    margin: auto;
}

.aboutTitle {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 0;
    color: #486581;
}