button.RangeBtn {
    font-size: 16px !important;
    /* padding: 12px 32px !important; */
    border-radius: 14px !important;
    /* margin-left: 16px !important; */
    font-weight: 700;
    width: 98%;
    margin-left: 2%;
    color: #627D98 !important;/*#334E68 !important;*/
    /* display: inline-block !important; */
    border: none !important;
    box-shadow: 4px 4px 4px #627D98;
    cursor: pointer;
    text-align: center;
}

.BtnContainer {
    width: 25%;
    float: left;
}

/* .RangeBtn:nth-child(1) {
    margin-left: 0;
} */

.RangeBtn:hover {
    background-color: #D9E2EC !important;
}

.RangeBtn:focus {
    outline: none;
}

@media (max-width: 900px) {
    button.RangeBtn {
        padding: 8px 16px;
    }
}