
.PerformancePage {
    min-height: 900px;
    background-color: #F0F4F8;
    padding: 16px 64px;
    text-align: left;
}



.pageWidth {
    width: 50%;
}

.topContainer {
    overflow: hidden;
}

/* .fullWidth {
    width: 98vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: white;
} */

.AboutContainer {
    background-color: white;
}

.PlotContainer {
    float: left;
    width: 54%;
}

.IndicatorContainer {
    float: left;
    width: 46%;
}

.StockPerformanceContainer {
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 72px; 
    margin-bottom: 72px;
}


@media (max-width: 900px) {
    .PerformancePage {
        padding: 8px;
    }
    
    .pageWidth {
        width: 100%;
    }

    .PlotContainer {
        width: 100%;
        margin-bottom: 12px;
    }
    
    .IndicatorContainer {
        width: 100%;
        margin-bottom: 12px;
    }

    .StockPerformanceContainer {
        width: 100%;
        margin-top: 0;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 36px;
        /* margin: 0 12px 36px 12px; */
    }

    
}